@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,500&family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Cores e fontes gerais no uso do site */
:root {
  --color-white: #FBFAF8;
  --color-dark-red: #8C271E;
  --color-blue: #0000CD;
  --color-dark-gray: #0F0F0F;
  --color-orange: #FFA500;
  --color-senacorange: #f59654;
  --color-senacblue: #3d51a5;
  --color-senacgray: #d3cebb;
  --font-titulo: "MontSerrat", sans-serif;
  --font-texto: "QuickSand", sans-serif;
  --font-alternative: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* INDEX */

body {

  /*  Img do Senac, que seria usada, porém optado por seguir com fundo em cores degradê  */
  /* background-image: url('/20200130165026443247o.jpg');  */
  background-image: linear-gradient(to right, #d3cebb, #3d51a5, #f59654);
  font-family: var(--font-titulo);
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  /* margin: 125px; --> Valor de Margin, caso o form fosse lateralizado ao invés de centralizado!*/
  max-width: 550px;
  padding: 30px;
  background-image: linear-gradient(to right, #d3cebb, #3d51a5, #f59654);
  border-radius: 30px;
  box-shadow: 5px 5px black;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  /* display: block; */
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.formbutton button {
  display: block;
  margin: 0% auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  /* background-color: #007bff; */
  /* border: 2px solid #007bff; */
  border-radius: 5px;
  cursor: pointer;
}

.formbutton:hover {
  transition: ease-in-out;
}

.footer {
  display: flex;
  justify-content: center;
  transition: ease-in-out;
  margin: -65px;
  font-size: larger;
}



/* Adaptações para dispositivos móveis */
@media screen and (max-width: 768px) {
  form {
    max-width: 90%;
  }
}


/* HomePage */

h2,
h3 {
  font-family: var(--font-alternative);
  font-style: normal;
}

h4 {
  text-align: center;
  font-size: larger;
}

table {
  width: 100%;
  border: 3.5px solid;
  /* border-collapse: collapse; */
}

tr {
  background-color: var(--color-senacgray);
}

th,
td {
  padding: 8px;
  /* border-bottom: 1px solid #ddd; */
}

td {
  text-align: justify;
  font-family: var(--font-texto);
}

a {
  text-decoration: none;
  color: var(--color-senacorange);
}

a:hover {
  color: var(--color-blue);
  cursor: pointer;
  transition: ease-in-out;
}